@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800 min-h-screen;
}

.dark body {
  background: linear-gradient(to bottom right, #000, #111);
  color: #fff;
}

.input-style {
  @apply border border-gray-600 bg-gray-800 text-gray-100 px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500;
}

.btn-gray {
  @apply bg-gray-700 text-white px-2 rounded hover:bg-gray-600;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.status-tag {
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
}

.status-tag.flagged {
  background-color: #dc2626;
  color: white;
}

.status-tag.cleared {
  background-color: #22c55e;
  color: white;
}

.status-tag.rare {
  background-color: #e09110;
  color: white;
}

